#main {
    width: 600px;
    margin: 0 25px;
    padding: 25px 0;
    top: 0;
    left: 150px;
    position: absolute;
    background: rgba( 255, 255, 255, 1 );
    border-left: 1px solid rgba( 2, 159, 218, 1 );
    border-right: 1px solid rgba( 2, 159, 218, 1 );
}

#main .title {
    margin-top: 25px;
    margin-left: 25px;
    font-weight: bold;
    padding-left: 20px;
    border-left: 5px solid rgba( 2, 159, 218, 1 );
}

#main .content {
    width: calc(100% - 106px);
    margin: 10px 25px;
    padding: 25px 25px 25px 20px;
    background: rgba( 245, 245, 245, 1 );
    border-left: 5px solid rgba( 2, 159, 218, 1 );
    border-radius: 0 5px 5px 0;
}

#main .space {
    width: calc(100% - 101px);
    margin: 10px 25px;
    padding: 0px 25px;
}

.content textarea {
    width: calc(100% - 50px);
    height: 12px;
    border-radius: 3px;
    border-color: rgba( 2, 159, 218, 1 );
    padding: 10px 25px;
}
.btn {
    width: 75px;
    text-align: center;
    padding: 5px 0;
    background: rgba( 2, 159, 218, 1 );
    color: rgba( 255, 255, 255, 1 );
    border-radius: 3px;
    line-height: 15pt;
}

.del_btn {
    background: rgba( 255, 96, 96, 1 )
}

.server {
    line-height: 22pt;
}

#result {
    display: none
}

#archive .content .left {
    width: 50px;
}

#archive .content .left img {
    width: 46px;
    border: 2px solid rgba( 255, 255, 255, 1 );
    border-radius: 100%;
}

#archive .content .right {
    width: 424px;
}

#archive .content .right .name {
    font-weight: bold
}

#archive .content .right .screen_name {
    font-size: 10px;
}

#archive .content .right .text {
    margin-top: 10px
}

#loading {
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.5 );
    z-index: 9999999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}