@font-face {
    src: url( ../font/Quicksand.woff );
    font-family: Quicksand;
}

body {
    color: rgba( 60, 60, 60, 1 );
    font-size: 12px;
    line-height: 15px;
    font-family: sans-serif;
    background: rgba( 245, 245, 245, 1 )
}

body::-webkit-scrollbar{
    display: none
}

.borderLine {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background: rgba( 2, 159, 218, 1 );
    margin: 20px 0;
}

/* Nav */

#nav {
    width: 150px;
    height: 100%;
    float: left;
    background: rgba( 2, 159, 218, 1 );
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9;
}

#nav #appName {
    width: auto;
    height: 54px;
    border-bottom: 1px solid rgba( 42, 189, 248, 1 );
    font-family: Quicksand;
    text-align: center;
    color: rgba( 255, 255, 255, 1 );
    font-size: 20px;
    line-height: 42pt;
}

#nav .menu {
    padding-left: 25px;
    height: 39px;
    border-bottom: 1px solid rgba( 42, 189, 248, 1 );
    line-height: 30pt;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    background: rgba( 2, 159, 218, 1 );
}
#nav .menu.selected {
    height: 38px;
    border-top: 1px solid rgba( 0, 99, 158, 1 );
    border-bottom: 1px solid rgba( 42, 189, 248, 1 );
    background: rgba( 0, 119, 178, 1 )
}
#nav .menu:hover {
    -webkit-transition: ease 0.5s;
    background: rgba( 0, 119, 178, 1 );
}

/* Header */


#header {
    width: 650px;
    height: 55px;
    background: rgba(230,230,230,1);
    top: 0;
    right: 0;
    z-index: 1;
    position: fixed;
}

#header .htext {
    padding-left: 25px;
    font-family: Quicksand;
    font-size: 20px;
    line-height: 43pt;
}

/* Main */

#article {
    width: 650px;
    top: 0;
    right: 0;
    position: absolute;
    padding-bottom: 20px;
}

#article #padding {
    top: 55px;
    right: 25px;
    position: absolute;
    width: 600px;
    background: rgba(255,255,255,1)
}

.label {
    font-size: 15px;
    margin: 10px 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-weight: 600;
    font-family: Quicksand, sans-serif;
    border-bottom: 5px solid rgba(0,119,178,1);
}

/* Profiles */
.elem {
    background: rgba( 245,245,245,1 );
    border-left: 5px solid rgba( 2, 159, 218, 1 );
    margin: 0 25px;
    width: 505px;
    padding: 20px;
    margin-top: 20px;
}
a .elem {
    color: rgba( 60, 60, 60, 1 );
}
.elem.on:hover {
    -webkit-transition: ease 0.5s;
    background: rgba( 225,225,225,1 );
}
.elem .icon {
    width: 70px;
    float: left;
}
.elem .icon img {
    width: 45px;
    border-radius: 100%;
    text-align: center;
    border: 3px solid rgba( 2, 159, 218, 1 );
}
.elem .data {
    width: 430px;
    float: left;
}
.elem .userid {
    color: rgba( 0, 119, 178, 1 );
    font-weight: 600;
}
.elem .username {
    font-weight: bold;
}

/* Box */

.box {
    margin-bottom: 20px;
}

/* Search */

textarea#searchWord {
    width: 200px;
    height: 35px;
    padding: 10px 20px;
    font-weight: normal;
    border: 0;
    background: rgba(255,255,255,1);
    margin: 10px 0;
    right: 135px;
    position: fixed;
    border-radius: 3px;
}
textarea#searchCount {
    width: 50px;
    height: 35px;
    margin: 10px 0;
    right: 80px;
    position: fixed;
    font-weight: normal;
    border: 0;
    background: rgba(255,255,255,1);
    border-radius: 3px;
    padding: 10px 10px;
}
#dataName {
    width: 100%;
    height: 45px;
    border: 0;
    border-bottom:1px solid rgba( 42, 189, 248, 1 );
    padding: 0 25px;
    padding-top: 14px;
    color: #fff;
    background: rgba(0,0,0,0)
}
#dataName::-webkit-input-placeholder {
    color: rgba(255,255,255,.5)
}
#dataName:focus {
    -webkit-transition: ease 0.5s;
    background: rgba( 0, 119, 178, 1 )
}

.advancedLavel {
    font-size: 12px;
    padding-left: 5px;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 5px;
    border-left: 5px solid rgba(0,119,178,1);
}

#advanced textarea {
    width: 100%;
    border: 0;
    background: rgba( 240,240,240,1 );
    margin-bottom: 5px;
    padding: 5px;
    height: 30px;
}

#searchBtn, #advancedSearchBtn, #voteClose, #advancedSavedBtn {
    width: 50px;
    height: 35px;
    background: rgba( 2, 159, 218, 1 );
    text-align: center;
    color: rgba(255,255,255,1);
    right: 25px;
    position: fixed;
    margin: 10px 0;
    border-radius: 3px;
    line-height: 28pt;
}
#searchBtn:hover, #advancedSearchBtn:hover, #voteClose:hover, #profileClose:hover, #voteClose:hover, #advancedSavedBtn:hover {
    -webkit-transition: ease 0.5s;
    background: rgba( 0, 119, 178, 1 )
}

#advancedSavedBtn {
    width: 120px;
    left: 300px;
}

#advancedSearchBtn {
    width: 110px;
    left: 175px;
}

#advancedQuery, #advancedClose, #advancedSave, .queryBtn {
    width: 100%;
    padding: 10px 0;
    background: rgba( 2, 159, 218, 1 );
    text-align: center;
    color: rgba(255,255,255,1);
    margin-bottom: 10px;
}

#advanced input, #advanced select {
    margin-bottom: 10px;
}

#advancedBackground, #profileBackground, #voteBackground {
    z-index: 9999999999;
    width: 800px;
    height: 600px;
    background: rgba( 0,0,0,.5 );
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: none;
}

#advanced {
    background: #fff;
    width: 450px;
    height: 475px;
    padding: 25px;
    top: 50%;
    left: 50%;
    position: fixed;
    margin: -265px 0 0 -225px;
}

.openvote {
    background: rgba( 2, 159, 218, 1 );
    margin: 0 25px;
    width: 510px;
    padding: 5px 20px;
    color: white;
    line-height: 15pt;
}
#voteClose {
    display: none;
}

#voteEnd {
    width: 100%;
    height: 35px;
    background: rgba( 2, 159, 218, 1 );
    text-align: center;
    color: rgba(255,255,255,1);
    margin: 10px 0;
    border-radius: 3px;
    line-height: 28pt;
}

.not{
    padding-left: 25px;
    height: 39px;
    border-bottom: 1px solid rgba( 42, 189, 248, 1 );
    line-height: 30pt;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}

#profileField, #vote {
    width: 550px;
    height: 350px;
    padding: 25px;
    background: #fff;
    top: 100px;
    left: 100px;
    position: fixed;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
}

.deleteBtn {
    width: 100px;
    float: right;
    padding: 10px 0;
    background: rgba( 22, 179, 238, 1 );
    text-align: center;
    color: rgba(255,255,255,1);
}

#vote #ip {
    font-weight: bold;
}

#voteResult {
    display: none;
}

/* Post */

.postBtn {
    width: 50px;
    height: 35px;
    background: rgba( 2, 159, 218, 1 );
    text-align: center;
    color: rgba(255,255,255,1);
    border-radius: 3px;
    line-height: 28pt;
    float: left;
}

.postBtn:hover {
    -webkit-transition: ease 0.5s;
    background: rgba( 0, 119, 178, 1 )
}

.postName {
    width:455px;
    float:left;
    line-height: 28pt;
}

/* Setup */

#application.setup {
    width: 800px;
    height: 600px;
    background: rgba( 2, 159, 218, 1 );
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    color: rgba( 255, 255, 255, 1 );
    font-family: Quicksand;
    text-align: center
}
#application.setup #logo {
    font-size: 50px;
    top: 275px;
    left: 0;
    right: 0;
    position: absolute
}
#application.setup #button {
    width: 800px;
    height: 38px;
    color: rgba( 255, 255, 255, 1 );
    left: 0;
    right: 0;
    bottom: 195px;
    font-weight: 600;
    line-height: 28pt;
    position: absolute;
    border-top: 1px solid rgba( 0, 99, 158, 1 );
    border-bottom: 1px solid rgba( 42, 189, 248, 1 );
    background: rgba( 0, 119, 178, 1 );
}

textarea.form {
    width: 100%;
    height: 45px;
    border: 0;
    padding: 15px 25px;
}