@charset "utf-8";a,body{margin:0;padding:0}a,ins{text-decoration:none}a,body,hr{padding:0}hr,img,table,td,th{border:0}article,aside,details,figcaption,figure,footer,header,hgroup,hr,menu,nav,section{display:block}abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}ins,mark{background-color:#fff;color:#000}html{-webkit-text-size-adjust:100%}body{line-height:1}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:none}a{font-size:100%;vertical-align:baseline;background:0 0;-webkit-tap-highlight-color:rgba(200,200,200,.5)}img,input,select{vertical-align:middle}mark{font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{height:1px;border-top:1px solid #ccc;margin:1em 0}.float_r{float:right}.float_l{float:left}.clearfix:after{display:block;clear:both;height:0;visibility:hidden;content:"."}.clearfix{min-height:1px}

body#_application {
  color: rgba( 60, 60, 60, 1 );
  font-size: 13px;
  line-height: 15px;
  font-family: sans-serif;
  background: rgba( 245, 245, 245, 1 );
  min-height: 1px
}

body#_application::-webkit-scrollbar {
    display: none
}

body#_application:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: "."
}

._bg_primary {
  -webkit-transition: 0.25s linear;
  background: #3BAFDA !important;
  color: rgba( 255, 255, 255, 1 )
}

._bg_primary:hover {
  background: #4FC1E9 !important;
}

._bg_success {
  -webkit-transition: 0.25s linear;
  background: #8CC152 !important;
  color: rgba( 255, 255, 255, 1 )
}

._bg_success:hover {
  background: #A0D468 !important;
}

._bg_info {
  -webkit-transition: 0.25s linear;
  background: #37BC9B !important;
  color: rgba( 255, 255, 255, 1 )
}

._bg_info:hover {
  background: #48CFAD !important;
}

._bg_warning {
  -webkit-transition: 0.25s linear;
  background: #F6BB42 !important;
  color: rgba( 255, 255, 255, 1 )
}

._bg_warning:hover {
  background: #FFCE54 !important;
}

._bg_danger {
  -webkit-transition: 0.25s linear;
  background: #DA4453 !important;
  color: rgba( 255, 255, 255, 1 )
}

._bg_danger:hover {
  background: #ED5565 !important;
}

@font-face {
  font-family: Condense;
  src: url( '/spotlight/font/condense' );
}

@font-face {
  font-family: Quicksand;
  src: url( '/spotlight/font/quicksand' );
}

._icon_font {
  font-family: Condense;
}

._input {
  width: calc( 100% - 30px );
  border: 0;
  padding: 0;
  border-bottom: 1px solid rgba( 0, 139, 198, 1 );
  padding: 10px 15px;
  height: 15px;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
}

._btn {
  padding: 10px 15px;
  border-radius: 3px;
  color: rgba( 255, 255, 255, 1 );
  font-size: 10px;
  background: rgba( 2, 159, 218, 1 );
  margin-right: 5px;
  line-height: 30px;
}

._sidebar {
  width: 200px;
  float: left;
}

._sidebar._profile_active {
  margin-bottom: 95px;
}

._sidebar ._label {
  background: rgba( 255, 255, 255, 1 );
  width: calc( 100% - 40px );
  padding: 15px 20px;
  font-family: Quicksand, sans-serif;
  min-height: 1px;
}

._sidebar ._label:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: "."
}

._sidebar ._label ._text {
  float: left
}

._sidebar ._label ._badge {
  float: right
}

._sidebar ._navigator {
  width: 100%;
  font-family: Quicksand, sans-serif;
}

._sidebar ._navigator ._menu {
  width: calc( 100% - 40px );
  color: rgba( 255, 255, 255, 1 );
  padding: 15px 20px;
  background: rgba( 2, 159, 218, 1 );
  min-height: 1px;
  border-bottom: 1px solid rgba( 0, 139, 198, 1 )
}

._sidebar ._navigator ._menu:hover {
  background: rgba( 0, 139, 198, 1 );
  -webkit-transition: 0.25s linear;
}

._sidebar ._navigator ._menu:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: "."
}

._sidebar ._navigator ._menu._active {
  width: calc( 100% - 40px - 5px );
  border-right: 5px solid rgba( 0, 139, 198, 1 )
}

._sidebar ._navigator ._menu ._text {
  float: left
}

._sidebar ._navigator ._menu ._text ._description {
  font-size: 10px;
  color: rgba( 255, 255, 255, 0.5 )
}

._sidebar ._navigator ._menu ._badge {
  width: 23px;
  height: 23px;
  line-height: 23px;
  margin: 2.5px 0;
  color: rgba( 2, 159, 218, 1 );
  font-size: 10px;
  text-align: center;
  border: 1px solid rgba( 0, 139, 198, 1 );
  border-radius: 100%;
  background: rgba( 255, 255, 255, 1 );
  float: right;
}

._my_profile {
  width: 200px;
  background: rgba( 2, 159, 218, 1 );
  color: rgba( 255, 255, 255, 1 );
  font-family: Quicksand, sans-serif;
  border-top: 1px solid rgba( 0, 139, 198, 1 );
  padding: 15px 0;
  bottom: 0;
  left: 0;
  position: fixed;
}

._my_profile ._icon {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: 2px solid rgba( 0, 139, 198, 1 );
  background: rgba( 255, 255, 255, 1 );
  margin: 0 auto;
}

._my_profile ._name {
  text-align: center;
  margin-top: 10px;
}

._my_profile ._id {
  text-align: center;
  font-size: 10px;
  color: rgba( 255, 255, 255, 0.5 )
}

._main {
  /* 100% - sidebar width - padding left right */
  width: calc( 100% - 200px - 40px );
  float: left;
  margin: 15px 20px;
  font-family: sans-serif;
}

._main ._content {
  /* 100% - border-right - padding - border-right */
  width: calc( 100% - 40px - 5px );
  border-left: 5px solid rgba( 0, 139, 198, 1 );
  padding: 15px 20px;
  border-radius: 0 3px 3px 0;
  background: rgba( 255, 255, 255, 1 );
  margin-bottom: 15px;
  min-height: 1px;
}

._main ._content ._label {
  border-left: 5px solid rgba( 0, 139, 198, 1 );
  padding-left: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}

._main ._content ._label:last-child {
  margin-bottom: 0;
}

._main ._content ._column {
  margin-bottom: 10px;
}

._main ._content ._columns {
  margin-bottom: 10px;
  min-height: 1px;
}

._main ._content ._columns:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: "."
}

._main ._content ._column:last-child {
  margin-bottom: 0;
}

._main ._content ._tag_group {
  background: rgba( 245, 245, 245, 1 );
  padding: 10px;
  border-radius: 3px;
}

._main ._content ._tag_group ._tag {
  padding: 5px 10px;
  border-radius: 3px;
  color: rgba( 255, 255, 255, 1 );
  font-size: 10px;
  background: rgba( 2, 159, 218, 1 );
  margin-right: 5px;
  line-height: 25px;
}

._main ._content ._note {
  background: rgba( 245, 245, 245, 1 );
  padding: 10px;
  border-radius: 3px;
}

._main ._content ._note ._title {
  font-weight: bold;
}

._main ._content ._note ._title:before {
  content: "¯";
  font-family: Condense;
  font-weight: normal;
}

._main ._content ._column ._btn {
  padding: 10px 15px;
  border-radius: 3px;
  color: rgba( 255, 255, 255, 1 );
  font-size: 10px;
  background: rgba( 2, 159, 218, 1 );
  margin-right: 5px;
  line-height: 30px;
}

/* Tweet */

._main ._content._tweet ._profile {
  min-height: 1px;
  margin-bottom: 10px;
}

._main ._content._tweet ._profile:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: "."
}

._main ._content._tweet ._profile ._icon {
  width: 45px;
  height: 45px;
  float: left;
  margin-right: 5px;
}

._main ._content._tweet ._profile ._icon img {
  width: 41px;
  height: 41px;
  border-radius: 100%;
  border: 2px solid rgba( 235, 235, 235, 1 )
}

._main ._content._tweet ._profile ._screen_name, ._main ._content._tweet ._profile ._id {
  font-size: 10px;
}

._main ._content._tweet ._text {
  background: rgba( 245, 245, 245, 1 );
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}

._main ._content._tweet ._text ._media {
  margin-top: 10px;
  padding: 10px;
  background: rgba( 255, 255, 255, 1 );
  border-radius: 3px;
}

._main ._content._tweet ._text ._media img {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 10px;
}

._main ._content._tweet ._text ._media img:last-child {
  margin-bottom: 0
}

._main ._content._tweet ._text ._media video {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 10px;
}

._main ._content._tweet ._text ._media video:last-child {
  margin-bottom: 0
}

._main ._content._tweet ._text ._status {
  margin-top: 10px;
  min-height: 1px;
}

._main ._content._tweet ._text ._status:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: "."
}

._main ._content._tweet ._text ._status ._id, ._main ._content._tweet ._text ._status ._time {
  font-size: 10px;
  text-align: right;
}

._main ._content._tweet ._text ._status ._time {
  margin-top: 0;
}

._main ._content._tweet ._text ._status ._reaction {
  font-size: 10px;
  float: left;
  margin-top: 15px
}

._main ._content._tweet ._text ._status ._reaction ._retweet ._icon_font {
  color: #8CC152
}

._main ._content._tweet ._text ._status ._reaction ._favorite ._icon_font {
  color: #DA4453
}

._support {}

._support ._background {
  width: 100%;
  height: 100%;
  background: rgba( 0, 0, 0, 0.85 );
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 9998;
}

._support ._layer {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 9999;
  padding-top: 15px;
}

._support ._layer ._dialog {
  width: calc( 100% - 200px - 40px - 5px );
  border-radius: 0 3px 3px 0;
  border-left: 5px solid rgba( 0, 139, 198, 1 );
  margin: 0 auto;
  margin-bottom: 10px;
  background: rgba( 255, 255, 255, 1 );
  padding: 15px 20px;
}

._hide {
  display: none;
}

._show {
  display: block
}
