#application {
    width: 800px;
    height: 600px;
    text-align: center;
    font-family: Quicksand;
}

#application #app {
    color: rgba( 2, 159, 218, 1 );
    width: 330px;
    top: 200px;
    left: 50%;
    margin-left: -165px;
    position: fixed;
}

#application #btn {
    width: 200px;
    height: 40px;
    color: rgba( 255, 255, 255, 1 );
    left: 50%;
    margin-left: -100px;
    border-radius: 3px;
    right: 0;
    bottom: 195px;
    line-height: 30pt;
    font-size: 15px;
    position: absolute;
    background: rgba( 2, 159, 218, 1 );
    -webkit-transition: 1s ease;
}

#application #btn:hover {
    background: rgba( 0, 119, 178, 1 );
}

#app #icon-field {
    width: 80px;
    float: left;
}

#app #icon-field img {
    width: 70px;
    border-radius: 100%;
}

#app #name-field {
    width: 225px;
    padding-left: 25px;
    text-align: left;
    float: left;
}

#app #name-field #name {
    font-size: 55px;
    padding-top: 20px;
}

#app #name-field #author {
    padding-top: 25px;
    text-align: right
}

#app #name-field #author #heart {
    font-family: Condense
}

.warning {
    font-size: 30px;
}