<html lang="ja">

    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="content-style-type" content="text/css">
        <meta http-equiv="content-script-type" content="text/javascript">
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/layout.css">
    </head>

    <body>

        <div id="application">

            <div id="nav">
                <div id="appName">SPOTLIGHT</div>
                <a href="/">
                    <div class="menu">メインページ</div>
                </a>
                <a href="/search">
                    <div class="menu">検索</div>
                </a>
                <a href="/list">
                    <div class="menu">ランク/リスト</div>
                </a>
                <a href="/setting">
                    <div class="menu selected">設定</div>
                </a>
                <div id="pairingBtn">
                    <div class="not"></div>
                    <a href="/device">
                        <div class="menu">デバイス</div>
                    </a>
                </div>
            </div>

            <div id="article">
                <div id="header">
                    <div class="htext">
                        Credit
                    </div>
                </div>
                <div id="padding">
                    <div class="elem box">
                        <b>electron 1.3.3 by electron</b><br>
                        MIT - https://github.com/electron/electron/blob/master/LICENSE
                    </div>
                    <div class="elem box">
                        <b>express 4.14.0 by dougwilson</b><br>
                        MIT - https://github.com/expressjs/express/blob/master/LICENSE
                    </div>
                    <div class="elem box">
                        <b>express-session 1.14.0 by dougwilson</b><br>
                        MIT - https://github.com/expressjs/session/blob/master/LICENSE
                    </div>
                    <div class="elem box">
                        <b>express-socket.io-session 1.3.1 by osk</b><br>
                        MIT - https://github.com/oskosk/express-socket.io-session/blob/master/LICENSE
                    </div>
                    <div class="elem box">
                        <b>getmac 1.3.1 by balupton</b><br>
                        MIT - https://github.com/bevry/getmac/blob/master/LICENSE.md
                    </div>
                    <div class="elem box">
                        <b>passport 0.3.2 by jaredhanson</b><br>
                        MIT - https://github.com/jaredhanson/passport/blob/master/LICENSE
                    </div>
                    <div class="elem box">
                        <b>passport-twitter 1.0.4 by jaredhanson</b><br>
                        MIT - https://github.com/jaredhanson/passport-twitter/blob/master/LICENSE
                    </div>
                    <div class="elem box">
                        <b>request 2.74.0 by simov</b><br>
                        Apache-2.0 - https://github.com/request/request/blob/master/LICENSE
                    </div>
                    <div class="elem box">
                        <b>socket.io 1.4.8 by rauchg</b><br>
                        MIT - https://github.com/socketio/socket.io/blob/master/LICENSE
                    </div>
                    <div class="elem box">
                        <b>twitter 1.4.0 by reconbot</b><br>
                        MIT - https://github.com/desmondmorris/node-twitter/blob/master/LICENSE.md
                    </div>
                </div>
            </div>

        </div>

    </body>

</html>