<html lang="ja">

    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="content-style-type" content="text/css">
        <meta http-equiv="content-script-type" content="text/javascript">
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/layout.css">
        <script src="js/binding.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="preload.js"></script>
        <script src="js/edit.js"></script>
    </head>

    <body>

        <div id="application">

            <div id="nav">
                <div id="appName">SPOTLIGHT</div>
                <a href="/">
                    <div class="menu">メインページ</div>
                </a>
                <a href="/search">
                    <div class="menu">検索</div>
                </a>
                <a href="/list">
                    <div class="menu selected">ランク/リスト</div>
                </a>
                <a href="/setting">
                    <div class="menu">設定</div>
                </a>
                <div class="not"></div>
                <div id="dataBox">
                    <textarea id="dataName" placeholder="名前をつける"></textarea>
                </div>
                <a href="javascript:void(0)" onclick="save()">
                    <div class="menu">保存</div>
                </a>
            </div>

            <div id="article">
                <div id="header">
                    <div class="htext">EDIT</div>
                </div>
                <div id="padding">

                    <div class="label">Result</div>

                    <div id="tweet">
                        <div class="elem box clearfix" id="n{{id}}" flg="{{flg}}" userid="{{user.id}}" tweetid="{{id}}" profile="{{user.profile_image_url}}" create="{{created_at}}" username="{{user.name}}" screen="{{user.screen_name}}">
                            <div class="icon">
                                <img src="{{user.profile_image_url}}">
                            </div>
                            <div class="data">
                                <span class="userid">{{user.id}}</span>
                                <br>
                                <span class="username">{{user.name}}</span>
                                <span class="userscreenname">@{{user.screen_name}}</span>
                                ( Friends : {{user.friends_count}} / Followsers : {{user.followers_count}} )
                                <br><br>
                                <span id="text{{INDEX}}">{{text}}</span>
                                <br><br>
                                <span class="created_at">{{created_at}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </body>

</html>