<html lang="ja">

    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="content-style-type" content="text/css">
        <meta http-equiv="content-script-type" content="text/javascript">
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/layout.css">
        <script src="js/binding.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="preload.js"></script>
        <script src="js/search.js"></script>
    </head>

    <body>

        <div id="application">

            <div id="nav">
                <div id="appName">SPOTLIGHT</div>
                <a href="/">
                    <div class="menu ml">メインページ</div>
                </a>
                <a href="/search">
                    <div class="menu ml selected">検索</div>
                </a>
                <a href="/list">
                    <div class="menu ml">ランク/リスト</div>
                </a>
                <a href="/setting">
                    <div class="menu ml">設定</div>
                </a>
                <div id="pairingBtn">
                    <div class="not"></div>
                    <a href="/device">
                        <div class="menu">デバイス</div>
                    </a>
                </div>
                <div class="not"></div>
                <div id="dataBox">
                    <textarea id="highlight" onkeydown="highlight()" placeholder="検索ワードを入力"></textarea>
                </div>
                <div class="not"></div>
                <div id="dataBox">
                    <textarea id="dataName" placeholder="名前を入力"></textarea>
                </div>
                <a href="javascript:void(0)" onclick="save()">
                    <div class="menu">保存</div>
                </a>
            </div>

            <div id="article">
                <div id="header">
                    
                    <div id="advancedSearchBtn" onclick="advancedOpen()">高度な検索</div>
                    <div id="advancedSavedBtn" onclick="advancedOpenSaved()">保存した条件</div>
                    
                    <textarea id="searchWord" placeholder="キーワード"></textarea>
                    <textarea id="searchCount" placeholder="個数"></textarea>
                    <div id="searchBtn" onclick="searchQuery()">検索</div>
                    
                </div>
                <div id="padding">
                    
                    <div id="queryArea">
                        <div class="label">Query</div>
                        <div id="querys"></div>
                    </div>

                    <div class="label">Result</div>

                    <div id="tweet">
                        <div class="box">
                            <div class="elem clearfix" id="n{{id}}" flg="none" userid="{{user.id}}" tweetid="{{id}}" profile="{{user.profile_image_url}}" create="{{created_at}}" username="{{user.name}}" screen="{{user.screen_name}}">
                                <div class="icon">
                                    <img src="{{user.profile_image_url}}">
                                </div>
                                <div class="data">
                                    <span class="userid">{{user.id}}</span>
                                    <br>
                                    <span class="username">{{user.name}}</span>
                                    <span class="userscreenname">@{{user.screen_name}}</span>
                                    ( Friends : {{user.friends_count}} / Followsers : {{user.followers_count}} )
                                    <br><br>
                                    <span id="text{{id}}">{{text}}</span>
                                    <br><br>
                                    <span class="created_at">{{created_at}}</span>
                                </div>
                            </div>
                            <div id="open{{id}}" onclick="openVote('{{id}}')" good="0" bad="0" class="openvote">公開する</div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div id="advancedBackground">
                <div id="advanced">
                    <div class="advancedLavel">And</div>
                    <textarea id="and"></textarea>
                    <div class="advancedLavel">Or</div>
                    <textarea id="or"></textarea>
                    <div class="advancedLavel">Not</div>
                    <textarea id="not"></textarea>
                    <div class="advancedLavel">From</div>
                    <textarea id="from"></textarea>
                    <div class="advancedLavel">To</div>
                    <textarea id="to"></textarea>
                    <div class="advancedLavel">Think</div>
                    <select id="think">
                        <option>-</option>
                        <option>ポジティブ</option>
                        <option>ネガティブ</option>
                    </select>
                    <br>
                    <div id="advancedQuery" onclick="advancedQuery()">検索</div>
                    <textarea id="advancedName" placeholder="検索条件に名前をつける"></textarea>
                    <div id="advancedSave" onclick="advancedSave()">検索条件を保存する</div>
                    <div id="advancedClose" onclick="advancedClose()">閉じる</div>
                </div>
            </div>

            <div id="voteBackground">
                <div id="voteClose">閉じる</div>
                <div id="vote">
                    同一ネットワーク上の他の端末で以下のアドレスにアクセスしてください．<br><br>
                    <div id="ip"></div><br><br>
                    <div id="votetext"></div><br><br>
                    <div id="voteResult">
                        結果<br><br>
                        Safe<div id="votegood"></div><br>
                        UnSafe<div id="votebad"></div>
                    </div>
                    <div id="voteEnd">公開を終了する</div>
                </div>
            </div>

        </div>

    </body>

</html>