<html lang="ja">

    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="content-style-type" content="text/css">
        <meta http-equiv="content-script-type" content="text/javascript">
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/layout.css">
        <script src="js/binding.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="preload.js"></script>
        <script src="js/user.js"></script>
    </head>

    <body>

        <div id="application">

            <div id="nav">
                <div id="appName">SPOTLIGHT</div>
                <a href="/">
                    <div class="menu">メインページ</div>
                </a>
                <a href="/search">
                    <div class="menu">検索</div>
                </a>
                <a href="/list">
                    <div class="menu selected">ランク/リスト</div>
                </a>
                <a href="/setting">
                    <div class="menu">設定</div>
                </a>
                <div id="pairingBtn">
                    <div class="not"></div>
                    <a href="/device">
                        <div class="menu">デバイス</div>
                    </a>
                </div>
            </div>

            <div id="article">
                <div id="header">
                    <div class="htext" id="rank"></div>
                </div>
                <div id="padding">

                    <div class="label">Result</div>

                    <div id="tweet">
                        <div class="elem box clearfix" id="n{{id}}" rank="{{rank}}" onclick="getUserProfile( '{{screen_name}}' )">
                            <span class="userid">{{id}}</span>
                            <br>
                            <span class="username">{{name}}</span>
                            <span class="userscreenname">@{{screen_name}}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="profileBackground">
            <div id="profileClose">閉じる</div>
            <div id="profileField">
                <div id="profileId"></div><br><br>
                <img src="" id="profileImage"><br><br>
                <div id="profileName"></div>
                <div id="profileScreenName"></div><br><br>
                <div id="profileFriends"></div><br><br>
                <div id="profileDescription"></div><br><br>
                <div id="profileCreatedAt"></div>
            </div>
        </div>

        </div>

    </body>

</html>