<html lang="ja">

    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="content-style-type" content="text/css">
        <meta http-equiv="content-script-type" content="text/javascript">
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/layout.css">
        <script src="js/binding.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>

            var socketio = io()

            window.onload = function(){

                if( !sessionStorage.getItem( 'myprofile' ) )
                    socketio.emit( 'getMyProfile', {
                        value: true
                    } )
                else
                    profileParser( JSON.parse( unescape( sessionStorage.getItem( 'myprofile' ) ) ) )
                
                // Return my profile on Twitter.
                socketio.on( 'gotMyProfile', function( data ){
                    sessionStorage.setItem( 'myprofile', escape( JSON.stringify( data.value ) ) )
                    profileParser( data.value )
                } )
                
                socketio.on( 'processError', function( error ){
                    if( typeof error.value == 'object' )
                        error.value = JSON.stringify( error.value )
                    alert( 'エラーが発生しました．\n\n' + error.value )
                } )

                function profileParser( data ){
                    var profile = []
                    profile.push( {
                        name: data.name,
                        created_at: data.created_at,
                        followers_count: data.followers_count,
                        friends_count: data.friends_count,
                        id: data.id_str,
                        lang: data.lang,
                        description: data.description,
                        screen_name: data.screen_name,
                        statuses_count: data.statuses_count,
                        profile_image_url: data.profile_image_url

                    } )
                    bind.binding( 'tweet', profile )
                }

            }



        </script>

    </head>

    <body>

        <div id="application">

            <div id="nav">
                <div id="appName">SPOTLIGHT</div>
                <a href="/">
                    <div class="menu selected">メインページ</div>
                </a>
                <a href="/search">
                    <div class="menu">検索</div>
                </a>
                <a href="/list">
                    <div class="menu">ランク/リスト</div>
                </a>
                <a href="/setting">
                    <div class="menu">設定</div>
                </a>
            </div>

            <div id="article">
                <div id="header">
                    <div class="htext">SPOTLIGHT BETA 0.2.1</div>
                </div>
                <div id="padding">
                    <div class="label">マイデータ</div>
                    <div id="tweet">
                        <div class="tw clearfix">
                            <div class="icon">
                                <img src="{{profile_image_url}}">
                            </div>
                            <div class="data">
                                <span class="userid">{{id}}</span>
                                <br>
                                <span class="username">{{name}}</span>
                                <span class="userscreenname">@{{screen_name}}</span>
                                ( Friends : {{friends_count}} / Followers : {{followers_count}} )
                                <br><br>
                                <span class="description">{{description}}</span>
                                <br><br>
                                <span class="created_at">{{created_at}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </body>

</html>