<html lang="ja">

    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="content-style-type" content="text/css">
        <meta http-equiv="content-script-type" content="text/javascript">
        <link rel="stylesheet" href="resources/css/base.css">
        <link rel="stylesheet" href="resources/css/layout.css">
        <script src="resources/js/binding.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            
            var socketio = io()
        
            socketio.emit( 'getList', {
                value: true
            } )
            
            socketio.on( 'result', function( data ){
                if( data.type == 'gotList' ){
                    console.log(data.value)
                    var obj = []
                    for( var i=0; i<data.value.length; i++ )
                        obj.push( { name: data.value[i] } )
                    bind.binding( 'tweet', obj )
                } else if( data.type == 'gotListData' ){
                    sessionStorage.setItem( 'editList', JSON.stringify(data.value) )
                    window.location.href = '/edit'
                }
            } )
            
            function getList( val ){
                
                socketio.emit( 'getListData', {
                    value: val
                } )
                
                sessionStorage.setItem( 'editName', val )
                
            }
            
        </script>
    </head>

    <body>

        <div id="application">

            <div id="nav">
                <div id="appName">APP</div>
                <a href="/">
                    <div class="menu">メインページ</div>
                </a>
                <a href="/search">
                    <div class="menu">検索</div>
                </a>
                <a href="/list">
                    <div class="menu selected">ランク/リスト</div>
                </a>
                <a href="/update">
                    <div class="menu">更新</div>
                </a>
                <a href="/setting">
                    <div class="menu">設定</div>
                </a>
            </div>

            <div id="article">
                <div id="header">
                    <div class="htext">
                        RANK / LIST        
                    </div>
                </div>
                
                <div id="padding">
                    <div class="label">保存したリスト</div>
                    <div id="tweet">
                        <a href="javascript:void(0)" onclick="getList('{{name}}')">
                            <div class="tw">{{name}}</div>
                        </a>
                    </div>
                </div>
                
            </div>

        </div>

    </body>

</html>