<html lang="ja">

    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="content-style-type" content="text/css">
        <meta http-equiv="content-script-type" content="text/javascript">
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/layout.css">
        <script src="js/binding.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>

            var socketio = io()
            
            socketio.on( 'dataResetComplate', function( data ){
                alert( '活動情報を消去しました．' )
                window.location.href = '/'
            } )
            
            socketio.on( 'processError', function( error ){
                alert( 'エラーが発生しました．\n\n' + error.value )
            } )

            function del( types ){

                var flg = confirm( 'この処理は取り消すことができません．続けますか？' )
                if( flg )
                    if( types == 'data' )
                        socketio.emit( 'dataReset', {
                            value: true
                        } )
                    else
                        alert( '不正な操作を検知しました．' )

            }

        </script>
    </head>

    <body>

        <div id="application">

            <div id="nav">
                <div id="appName">SPOTLIGHT</div>
                <a href="/">
                    <div class="menu">メインページ</div>
                </a>
                <a href="/search">
                    <div class="menu">検索</div>
                </a>
                <a href="/list">
                    <div class="menu">ランク/リスト</div>
                </a>
                <a href="/setting">
                    <div class="menu selected">設定</div>
                </a>
            </div>

            <div id="article">
                <div id="header">
                    <div class="htext">
                        SETTING
                    </div>
                </div>
                <div id="padding">
                    <div class="label">システム</div>
                    <div id="tweet">
                        <div class="tw clearfix" onclick="del('data')">
                            <b>活動内容を初期化する</b><br><br>
                            このアプリケーションに保存されている活動に関する情報を消去します．ユーザ情報は消去されません．
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </body>

</html>